<div>
    <h2 id="page-heading">
        <span jhiTranslate="billingappApp.transactionItems.home.title">Transaction Items</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-transaction-items" [routerLink]="['/transaction-items/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="billingappApp.transactionItems.home.createLabel">
            Create new Transaction Items
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="transactionItems?.length === 0">
        <span jhiTranslate="billingappApp.transactionItems.home.notFound">No transactionItems found</span>
    </div>
    <div class="table-responsive" *ngIf="transactionItems?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="itemName"><span jhiTranslate="billingappApp.transactionItems.itemName">Item Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="qty"><span jhiTranslate="billingappApp.transactionItems.qty">Qty</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="amount"><span jhiTranslate="billingappApp.transactionItems.amount">Amount</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="transactionId"><span jhiTranslate="billingappApp.transactionItems.transaction">Transaction</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let transactionItems of transactionItems ;trackBy: trackId">
                <td><a [routerLink]="['/transaction-items', transactionItems.id, 'view' ]">{{transactionItems.id}}</a></td>
                <td>{{transactionItems.itemName}}</td>
                <td>{{transactionItems.qty}}</td>
                <td>{{transactionItems.amount}}</td>
                <td>
                    <div *ngIf="transactionItems.transactionId">
                        <a [routerLink]="['../transaction', transactionItems.transactionId , 'view' ]" >{{transactionItems.transactionId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/transaction-items', transactionItems.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/transaction-items', transactionItems.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'transaction-items', { outlets: { popup: transactionItems.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="transactionItems?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
